@font-face{

    font-family: 'KaushanScript Regular';
    src: url("../fonts/KaushanScript-Regular.otf") format("opentype");
    
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Montserrat Bold';
    src: url("../fonts/Montserrat-Bold.otf") format("opentype");
    
    font-weight: normal;
    font-style: normal;
    }
@font-face{
    font-family: 'Montserrat Regular';
    src: url("../fonts/Montserrat-Regular.otf") format("opentype");
    
    font-weight: normal;
    font-style: normal;
    }
@font-face{
    font-family: 'Roboto LightItalic';
    src: url("../fonts/Roboto-LightItalic.ttf") format('truetype');
    
    font-weight: normal;
    font-style: normal;
    }