.form-email__text {
    width: 220px;
    height: 38px;
    color: #999999;
    padding: 0px;
    font-family: 'Roboto LightItalic';
    padding-left: 10px;
}
.form-email__button{
    padding: 0px;
    margin: 0px;
    margin: 5px 0 0 -5px;
    width: 150px;
    height: 42px;
    border: 0;
    font-family: 'Montserrat Bold';
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    background-color: #95e1d3;
}