// -------------------color------------------

$banner-linear-gradient-color1:rgba(252, 227, 138, 0.9);
$banner-linear-gradient-color2:rgba(243, 129, 129, 0.9);

$eployee-wrapper-color:#95e1d3;
// eployee-wrapper-color
$line-color-red-text:#f38181;
$menu-color:white;
$menu-hover-color:#fce38a;

$social_link_hover:#f38181;
$social_link:#fce38a;
$services_svg_color:#95e1d3;

$title_page_batton:#fce38a;

$color-text:#999999;

$header__title:white;


$eployee-linear-gradient-color1:#ed8889;
$eployee-linear-gradient-color2:#eed787;

$color-email-button:#95e1d3;
$text-color-email-button:white;


// -------------------fonts------------------
$font-family-title:"Kaushan Script", cursive;
$font-family-first:'Montserrat', sans-serif;
$font-family-second:"Roboto", sans-serif;
