$main-background-gradient:
    from(rgba(252, 227, 138, 0.9)),
    to(rgba(243, 129, 129, 0.9));
$menu-hover-color:#fce38a;

$services-icon-color-turquoise:#95e1d3;
$color-red-text:#f38181;
$color-yellow-text:#fce38a;


